.login{
  background: rgb(0,212,255);
background: linear-gradient(31deg, rgba(0,212,255,1) 35%, rgba(31,141,223,1) 100%);
border-radius: 10px;
}

.app {
  display: flex;
  height: 100vh; 
}
.img1{

background: #8CDFE9;
background: linear-gradient(135deg, #8CDFE9, #1A191A);
}

.loginButton{

background: #8CDFE9;
background: linear-gradient(135deg, #8CDFE9, #1A191A);
}

.sidebar {
  width: 200px;
  background-color: #2c3e50;
  padding: 20px;
  color: white;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: fixed; 
  top: 0;
  left: 0;
}

.sidebar ul {
  list-style: none;
  padding: 0;
  margin-top: 20px;
  width: 100%;
}

.sidebar ul li {
  margin: 15px 0;
  width: 100%;
}

.sidebar ul li a {
  color: white;
  text-decoration: none;
  display: block;
  padding: 10px 0;
  width: 100%;
}

.sidebar ul li a:hover {
  text-decoration: underline;
}

.content-with-sidebar {
  margin-left: 200px; 
  padding: 20px;
  background-color: #ecf0f1;
  flex: 1;
  overflow-y: auto; 
}